*{
    margin: 0;
    padding: 0;
}
.header{
    background-image: url("../images/banner/banner3.png");
    height: 100vh;
    width: 100%;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: flex-end;
    align-items: center;
}
.header-container{
    text-align: right;
    margin: 120px 200px 0 800px;
    
} 
.btn-primary{
    border: 0;
    border-radius: 5px;
    padding: 20px 25px;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    background-color:#F15B22;
}
.header-container h2 {
    font-weight: 700;
    font-size: 60px;
    color: #FFFFFF;
}

.header-container p {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #444343;
    margin: 25px 0 30px 0;
}
/* header style complete */
.person-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
}
.person-info .person-image img{
    height: 600px;
    width: 500px;
    object-fit: cover;
    margin-right: 100px;
}
.person-info .person-details h2{
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}
.person-info .person-details p{
    font-size: 16px;
    font-weight: 400;
    color: #444343;;
    line-height: 25px;
    margin: 25px 0 15px 0;
}
.person-details-checklist p{
    font-size: 16px;
    display: inline;
    color: #444343;
}
.person-details-checklist > div{
    margin-bottom: 8px;
}
.person-details-checklist > div i{
    color: #16D887;
}
/* personal details style complete */
.my-plan{
    margin-top: 150px;
    text-align: center;
}
.my-plan .my-plan-title{
    font-size: 40px;
    font-weight: 700px;
    margin-bottom: 50px;
    color: #151414;

}
.my-plan .my-plan-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.my-plan .my-plan-container .my-plan-box h2{
    font-size: 30px;
    font-weight: 700;
    color: #151414;
    margin: 20px 0 15px 0;
}
.my-plan .my-plan-container .my-plan-box p{
    font-size: 25px;
    font-weight: 500;
    color: #737272;
}
/* plan style Complete */
.call{
    margin-top: 150px;
    background: linear-gradient(90deg, #228df1 0%, rgba(241, 91, 34, 0) 100%),
    url('../images/watch.png');
    border-radius: 8px;
    background-repeat: no-repeat;
    height: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
}
.call .call-contant{
    margin-left: 60px;
}
.call .call-contant h2{
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    margin: 0 600px 25px 0;
}
.call .call-contant .btn-second-primary{
    border: 0;
    border-radius: 5px;
    padding: 20px 25px;
    font-weight: 600;
    font-size: 20px;
    color: #228df1;
    background-color:#fff;

}
/* call section style complete */
.footer{
    position: absolute;
    width: 1600px;
    height: 577px;
    left: 0px;
    top: 2651.96px;
    background: #151414;
    padding:
}
.footer-container{
    margin: 150px 200px 0;
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-contant h2{
    font-size: 45px;
    font-weight: 700;
    color: #F8F8F8;
}
.footer-contant p{
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    color: #fff;
    margin: 15px 0 25px 0;
}
.footer-contant h6{
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 15px;
}
.footer-contant .footer-social img{
    margin-top: 20px;
    margin-right: 15px;
}
.footer-form h2{
    font-size: 30px;
    font-weight: 600;
    color: #fff;
}
.footer-form input{
    border: 1px solid #fff;
    padding: 20px 150px 20px 20px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 400;
    background-color: #151414;
    color:#F3F3F3;
    margin: 30px 0 15px 0;
}
/* footer complete */